install and using

In [5]:
import pandas
pandas.__version__

'1.1.0'

In [6]:
import pandas as pd

In [7]:
pd?

In [8]:
conda update pandas

Collecting package metadata (current_repodata.json): done
Solving environment: done

## Package Plan ##

  environment location: /Users/justin/opt/miniconda3

  added / updated specs:
    - pandas


The following packages will be downloaded:

    package                    |            build
    ---------------------------|-----------------
    attrs-20.2.0               |             py_0          42 KB
    bleach-3.2.1               |             py_0         112 KB
    brotlipy-0.7.0             |py38haf1e3a3_1000         331 KB
    ca-certificates-2020.7.22  |                0         124 KB
    cffi-1.14.3                |   py38hed5b41f_0         214 KB
    conda-4.8.5                |           py38_0         2.8 MB
    cryptography-3.1           |   py38hddc9c9b_0         551 KB
    idna-2.10                  |             py_0          50 KB
    ipython-7.18.1             |   py38h5ca1d4c_0         992 KB
    jupyter_console-6.2.0      |             py_0          26 KB
    libedit-3.1.20191231       |       h1de35cc_1          96 KB
    libffi-3.3                 |       hb1e8313_2          44 KB
    mkl_fft-1.2.0              |   py38hc64f4ea_0         143 KB
    openssl-1.1.1h             |       haf1e3a3_0         2.2 MB
    pandas-1.1.1               |   py38hb1e8313_0         8.0 MB
    pip-20.2.2                 |           py38_0         1.7 MB
    prompt-toolkit-3.0.7       |             py_0         248 KB
    prompt_toolkit-3.0.7       |                0          12 KB
    pycparser-2.20             |             py_2          94 KB
    pygments-2.7.1             |             py_0         671 KB
    pyopenssl-19.1.0           |             py_1          48 KB
    pyrsistent-0.17.3          |   py38haf1e3a3_0          89 KB
    pysocks-1.7.1              |           py38_1          27 KB
    pyzmq-19.0.2               |   py38hb1e8313_1         402 KB
    qtconsole-4.7.6            |             py_0          96 KB
    requests-2.24.0            |             py_0          56 KB
    ruamel_yaml-0.15.87        |   py38haf1e3a3_1         239 KB
    setuptools-49.6.0          |           py38_0         747 KB
    sqlite-3.33.0              |       hffcf06c_0         1.3 MB
    tk-8.6.10                  |       hb0a8c7a_0         3.0 MB
    tqdm-4.49.0                |             py_0          55 KB
    urllib3-1.25.10            |             py_0          98 KB
    wheel-0.35.1               |             py_0          37 KB
    yaml-0.2.5                 |       haf1e3a3_0          72 KB
    zeromq-4.3.2               |       hb1e8313_3         421 KB
    ------------------------------------------------------------
                                           Total:        25.0 MB

The following NEW packages will be INSTALLED:

  brotlipy           pkgs/main/osx-64::brotlipy-0.7.0-py38haf1e3a3_1000

The following packages will be UPDATED:

  attrs                                         19.3.0-py_0 --> 20.2.0-py_0
  bleach                                         3.1.5-py_0 --> 3.2.1-py_0
  ca-certificates                               2020.6.24-0 --> 2020.7.22-0
  cffi                                1.14.0-py38hc512035_1 --> 1.14.3-py38hed5b41f_0
  conda                                        4.8.4-py38_0 --> 4.8.5-py38_0
  cryptography                         2.9.2-py38ha12b0ac_0 --> 3.1-py38hddc9c9b_0
  idna                                             2.9-py_1 --> 2.10-py_0
  ipython                             7.17.0-py38h39e3cac_0 --> 7.18.1-py38h5ca1d4c_0
  jupyter_console                                6.1.0-py_0 --> 6.2.0-py_0
  libedit                           3.1.20181209-hb402a30_0 --> 3.1.20191231-h1de35cc_1
  libffi                                     3.3-h0a44026_1 --> 3.3-hb1e8313_2
  mkl_fft                              1.1.0-py38hc64f4ea_0 --> 1.2.0-py38hc64f4ea_0
  openssl                                 1.1.1g-h1de35cc_0 --> 1.1.1h-haf1e3a3_0
  pandas                               1.1.0-py38hb1e8313_0 --> 1.1.1-py38hb1e8313_0
  pip                                         20.0.2-py38_3 --> 20.2.2-py38_0
  prompt-toolkit                                 3.0.5-py_0 --> 3.0.7-py_0
  prompt_toolkit                                    3.0.5-0 --> 3.0.7-0
  pycparser                                       2.20-py_0 --> 2.20-py_2
  pygments                                       2.6.1-py_0 --> 2.7.1-py_0
  pyopenssl          pkgs/main/osx-64::pyopenssl-19.1.0-py~ --> pkgs/main/noarch::pyopenssl-19.1.0-py_1
  pyrsistent                          0.16.0-py38h1de35cc_0 --> 0.17.3-py38haf1e3a3_0
  pysocks                                      1.7.1-py38_0 --> 1.7.1-py38_1
  pyzmq                               19.0.1-py38hb1e8313_1 --> 19.0.2-py38hb1e8313_1
  qtconsole                                      4.7.5-py_0 --> 4.7.6-py_0
  requests           pkgs/main/osx-64::requests-2.23.0-py3~ --> pkgs/main/noarch::requests-2.24.0-py_0
  ruamel_yaml                        0.15.87-py38h1de35cc_0 --> 0.15.87-py38haf1e3a3_1
  setuptools                                  47.1.1-py38_0 --> 49.6.0-py38_0
  sqlite                                  3.31.1-h5c1f38d_1 --> 3.33.0-hffcf06c_0
  tk                                       8.6.8-ha441bb4_0 --> 8.6.10-hb0a8c7a_0
  tqdm                                          4.46.0-py_0 --> 4.49.0-py_0
  urllib3            pkgs/main/osx-64::urllib3-1.25.8-py38~ --> pkgs/main/noarch::urllib3-1.25.10-py_0
  wheel               pkgs/main/osx-64::wheel-0.34.2-py38_0 --> pkgs/main/noarch::wheel-0.35.1-py_0
  yaml                                     0.1.7-hc338f04_2 --> 0.2.5-haf1e3a3_0
  zeromq                                   4.3.2-hb1e8313_2 --> 4.3.2-hb1e8313_3



Downloading and Extracting Packages
urllib3-1.25.10      | 98 KB     | ##################################### | 100%
requests-2.24.0      | 56 KB     | ##################################### | 100%
yaml-0.2.5           | 72 KB     | ##################################### | 100%
cffi-1.14.3          | 214 KB    | ##################################### | 100%
wheel-0.35.1         | 37 KB     | ##################################### | 100%
setuptools-49.6.0    | 747 KB    | ##################################### | 100%
pip-20.2.2           | 1.7 MB    | ##################################### | 100%
sqlite-3.33.0        | 1.3 MB    | ##################################### | 100%
pandas-1.1.1         | 8.0 MB    | ##################################### | 100%
ruamel_yaml-0.15.87  | 239 KB    | ##################################### | 100%
zeromq-4.3.2         | 421 KB    | ##################################### | 100%
prompt-toolkit-3.0.7 | 248 KB    | ##################################### | 100%
libffi-3.3           | 44 KB     | ##################################### | 100%
tqdm-4.49.0          | 55 KB     | ##################################### | 100%
ca-certificates-2020 | 124 KB    | ##################################### | 100%
qtconsole-4.7.6      | 96 KB     | ##################################### | 100%
pysocks-1.7.1        | 27 KB     | ##################################### | 100%
conda-4.8.5          | 2.8 MB    | ##################################### | 100%
jupyter_console-6.2. | 26 KB     | ##################################### | 100%
cryptography-3.1     | 551 KB    | ##################################### | 100%
bleach-3.2.1         | 112 KB    | ##################################### | 100%
pyzmq-19.0.2         | 402 KB    | ##################################### | 100%
prompt_toolkit-3.0.7 | 12 KB     | ##################################### | 100%
tk-8.6.10            | 3.0 MB    | ##################################### | 100%
openssl-1.1.1h       | 2.2 MB    | ##################################### | 100%
pycparser-2.20       | 94 KB     | ##################################### | 100%
libedit-3.1.20191231 | 96 KB     | ##################################### | 100%
attrs-20.2.0         | 42 KB     | ##################################### | 100%
mkl_fft-1.2.0        | 143 KB    | ##################################### | 100%
ipython-7.18.1       | 992 KB    | ##################################### | 100%

pyopenssl-19.1.0     | 48 KB     | ##################################### | 100%
pygments-2.7.1       | 671 KB    | ##################################### | 100%
idna-2.10            | 50 KB     | ##################################### | 100%
pyrsistent-0.17.3    | 89 KB     | ##################################### | 100%
brotlipy-0.7.0       | 331 KB    | ##################################### | 100%
Preparing transaction: done
Verifying transaction: done
Executing transaction: done

Note: you may need to restart the kernel to use updated packages.

In [9]:
import numpy as np

In [10]:
data = pd.Series([0.25, 0.5, 0.75, 1.0])
data

0    0.25
1    0.50
2    0.75
3    1.00
dtype: float64

In [11]:
data.values

array([0.25, 0.5 , 0.75, 1.  ])

In [12]:
data.index

RangeIndex(start=0, stop=4, step=1)

In [13]:
data[1]

0.5

In [14]:
data[1:3]

1    0.50
2    0.75
dtype: float64

In [21]:
data = pd.Series([0.25, 0.5, 0.75, 1.0],
                index=['a', 'b', 'c', 'd'])
data

a    0.25
b    0.50
c    0.75
d    1.00
dtype: float64

In [22]:
population_dict = {'California': 38332521,
                   'Texas': 26448193,
                   'New York': 19651127,
                   'Florida': 19552860,
                   'Illinois': 12882135}
population = pd.Series(population_dict)
population

California    38332521
Texas         26448193
New York      19651127
Florida       19552860
Illinois      12882135
dtype: int64

In [23]:
population['California']
population['California':'Illinois']

California    38332521
Texas         26448193
New York      19651127
Florida       19552860
Illinois      12882135
dtype: int64

In [24]:
pd.Series([2, 4, 6])

0    2
1    4
2    6
dtype: int64

In [25]:
pd.Series(5, index=[100, 200, 300])

100    5
200    5
300    5
dtype: int64

In [26]:
pd.Series({2:'a', 1:'b', 3:'c'})

2    a
1    b
3    c
dtype: object

In [30]:
pd.Series({2:'a', 1:'b', 3:'c'}, index=[3, 2])

3    c
2    a
dtype: object

**Data Indexing and Selecting**

In [31]:
data = pd.Series([0.25, 0.5, 0.75, 1.0],
                index=['a', 'b', 'c', 'd'])
data

a    0.25
b    0.50
c    0.75
d    1.00
dtype: float64

In [32]:
data['b']

0.5

In [34]:
'a' in data

True

In [35]:
data.keys()

Index(['a', 'b', 'c', 'd'], dtype='object')

In [36]:
list(data.items())

[('a', 0.25), ('b', 0.5), ('c', 0.75), ('d', 1.0)]

In [38]:
data['e'] = 1.25
data

a    0.25
b    0.50
c    0.75
d    1.00
e    1.25
dtype: float64

In [39]:
# slicing by explicit index
data['a':'c']

a    0.25
b    0.50
c    0.75
dtype: float64

In [40]:
# slicing by implicit integer index
data[0:2]

a    0.25
b    0.50
dtype: float64

**Note: explicit will include the last value; implicit (integer) will not include the last value**

In [43]:
data = pd.Series(['a', 'b', 'c'], index=[1, 3, 5])
data

1    a
3    b
5    c
dtype: object

In [44]:
# explicit index when indexing
data[1]

'a'

In [45]:
data[1:3]

3    b
5    c
dtype: object

In [46]:
data.loc[1]

'a'

In [47]:
data.loc[1:3]

1    a
3    b
dtype: object

In [48]:
data.iloc[1]

'b'

In [49]:
data.iloc[1:3]

3    b
5    c
dtype: object

In [50]:
area = pd.Series({'California': 423967, 'Texas': 695662,
                  'New York': 141297, 'Florida': 170312,
                  'Illinois': 149995})
pop = pd.Series({'California': 38332521, 'Texas': 26448193,
                 'New York': 19651127, 'Florida': 19552860,
                 'Illinois': 12882135})
data = pd.DataFrame({'area':area, 'pop':pop})
data

              area       pop
California  423967  38332521
Texas       695662  26448193
New York    141297  19651127
Florida     170312  19552860
Illinois    149995  12882135

In [51]:
data['pop']

California    38332521
Texas         26448193
New York      19651127
Florida       19552860
Illinois      12882135
Name: pop, dtype: int64

In [52]:
data.area

California    423967
Texas         695662
New York      141297
Florida       170312
Illinois      149995
Name: area, dtype: int64

In [55]:
data.area is data['area']

True

In [54]:
data.pop is data['pop']

False

In [56]:
data['density'] = data['pop'] / data['area']
data

              area       pop     density
California  423967  38332521   90.413926
Texas       695662  26448193   38.018740
New York    141297  19651127  139.076746
Florida     170312  19552860  114.806121
Illinois    149995  12882135   85.883763

In [57]:
data.values

array([[4.23967000e+05, 3.83325210e+07, 9.04139261e+01],
       [6.95662000e+05, 2.64481930e+07, 3.80187404e+01],
       [1.41297000e+05, 1.96511270e+07, 1.39076746e+02],
       [1.70312000e+05, 1.95528600e+07, 1.14806121e+02],
       [1.49995000e+05, 1.28821350e+07, 8.58837628e+01]])

In [58]:
data.T

           California         Texas      New York       Florida      Illinois
area     4.239670e+05  6.956620e+05  1.412970e+05  1.703120e+05  1.499950e+05
pop      3.833252e+07  2.644819e+07  1.965113e+07  1.955286e+07  1.288214e+07
density  9.041393e+01  3.801874e+01  1.390767e+02  1.148061e+02  8.588376e+01

In [59]:
data.values[0]

array([4.23967000e+05, 3.83325210e+07, 9.04139261e+01])

In [60]:
data['area']

California    423967
Texas         695662
New York      141297
Florida       170312
Illinois      149995
Name: area, dtype: int64

In [61]:
data.iloc[:3, :2]

              area       pop
California  423967  38332521
Texas       695662  26448193
New York    141297  19651127

In [62]:
data.loc[:'Illinois', :'pop']

              area       pop
California  423967  38332521
Texas       695662  26448193
New York    141297  19651127
Florida     170312  19552860
Illinois    149995  12882135

In [65]:
data.ix[:3, :'pop']

AttributeError: 'DataFrame' object has no attribute 'ix'

In [66]:
data.loc[data.density > 100, ['pop', 'density']]

               pop     density
New York  19651127  139.076746
Florida   19552860  114.806121

In [68]:
data.iloc[0, 2] = 90
data

              area       pop     density
California  423967  38332521   90.000000
Texas       695662  26448193   38.018740
New York    141297  19651127  139.076746
Florida     170312  19552860  114.806121
Illinois    149995  12882135   85.883763

In [69]:
data['Florida':'Illinois']

            area       pop     density
Florida   170312  19552860  114.806121
Illinois  149995  12882135   85.883763

In [70]:
data[1:3]

            area       pop     density
Texas     695662  26448193   38.018740
New York  141297  19651127  139.076746

In [71]:
data[data.density > 100]

            area       pop     density
New York  141297  19651127  139.076746
Florida   170312  19552860  114.806121