# w1d1 notes

In [1]:
1+1

2

Day 1 notes...

In [8]:
# set the midpoint
midpoint = 5

# make two empty lists
lower = []; upper = []

# split the numbers into lower and upper
for i in range(10):
    if (i < midpoint):
        lower.append(i)
    else:
        upper.append(i)
        
print("lower:", lower)
print("upper:", upper)

lower: [0, 1, 2, 3, 4]
upper: [5, 6, 7, 8, 9]

In [9]:
x = 1 + 2 + 3 + 4 +\
    5 + 6 + 7 + 8

In [10]:
x = (1 + 2 + 3 + 4 +
    5 + 6 + 7 + 8)

In [11]:
2 * (3 + 4)

14

In [12]:
print('first value:', 1)

first value: 1

In [13]:
print('second value:', 2)

second value: 2

In [14]:
L = [4,2,3,1]
L.sort()
print(L)

[1, 2, 3, 4]

In [15]:
x = 4

In [16]:
x = 4
type(x)

int

In [20]:
input ("Your name")

Your nameJustin A

'Justin A'

In [21]:
x = 10
y = 50
if (x ** 2 > 100 and y < 100):
    print(x,y)

In [22]:
fname = input("Please enter your first name:")
lname = input("Now please enter your last name:")
print("Your name is:" + lname + " " + fname + ".")

Please enter your first name:Justin
Now please enter your last name:Aichele
Your name is:Aichele Justin.

In [33]:
a = int(input("Input an integer : "))
n1 = int( "%s" % a )
n2 = int( "%s%s" % (a,a) )
n3 = int( "%s%s%s" % (a,a,a) )
print (n1+n2+n3)

Input an integer : 5
615

In [41]:
cname = input("what country are you from ")
print ("I have heard that " + cname + " is a beautiful country!")

what country are you from China
I have heard that China is a beautiful country!

In [45]:
x = 10
y = 50
if (x ** 2 > 100 and y < 100):
    print(x, y)

In [46]:
a = [10, 20]
b = a
b += [30, 40]
print(a)
print(b)

[10, 20, 30, 40]
[10, 20, 30, 40]

In [47]:
print(2%6)

2

In [48]:
print(2 * 3 ** 3 * 4)

216